@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700,800,100,200);


#heading{
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 36px;
    color: #1F1F1F;
}

.container {
	background-color: #F0F0F0;
	padding-top: 6px;
	padding-bottom: 20px;
}

#hidden {
	display: none;
}

.biggie {
	font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 75px;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    top: 200px;
    
}
button {
	margin: auto;
}
.botn {
	text-align: center;
}

